fastapi
uvicorn
pydantic
requests
playwright
python-dotenv
openai
openai-whisper
opencv-python-headless
paddlepaddle==2.6.1
paddleocr>=2.7.0
--index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers